{
  "extends": "@readme/eslint-config",
  "root": true,
  "rules": {
    "array-callback-return": "off",
    "consistent-return": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off"
  }
}
